{
  "env": {
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": [
    "promise",
    "import",
    "react",
    "jest",
    "prettier"
  ],
  "rules": {
    "no-duplicate-imports": "off",
    "react/display-name": "off",
    "prettier/prettier": "error"
  }
}
