node_modules/
.yalc/
yalc.lock
dist

npm-debug.log
yarn-error.log

coverage/
results/
junit.xml

.DS_Store
.vscode
.idea
*.iml

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.temp