**/.next/*
**/dist/*
**/test/fixtures/**
**/test/**/actual.js
**/test/**/actual/**
**/test/**/expected.js
**/locale/*
**/fixtures/*
**/expected/*
coverage/
website/
.github
/examples/*
!/examples/tanstack-start
/.nx/workspace-data
