**/.next/*
**/dist/*
**/test/fixtures/**
**/test/**/actual.js
**/test/**/actual/**
**/test/**/expected.js
**/locale/*
**/fixtures/*
**/expected/*
**/expected-rolldown/*
coverage/
website/
.github
examples
/.nx/workspace-data
