/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #ef4242;
  --ifm-color-primary-dark: #ed2626;
  --ifm-color-primary-darker: #eb1818;
  --ifm-color-primary-darkest: #c51111;
  --ifm-color-primary-light: #f15e5e;
  --ifm-color-primary-lighter: #f36c6c;
  --ifm-color-primary-lightest: #f69696;
  --ifm-link-color: #ef4242;
  --text: #1a1a1a;

  --ifm-hero-background-bg: linear-gradient(180deg, transparent 0%, rgba(239, 66, 66, 0.05) 100%);

  --ifm-heading-font-weight: 500;

  --ifm-h2-font-size: 1.85rem;
  --ifm-h3-font-size: 1.7rem;
  --ifm-h4-font-size: 1.3rem;
  --ifm-h5-font-size: 1.2rem;

  --ifm-menu-link-sublist-icon-filter: opacity(50%);

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-navbar-height: 4rem;
  --lingui-gray-bg: #f5f5f5;
  --lingui-card-raduis: 64px;
  --lingui-card-raduis-sm: 32px;
  --lingui-card-bg: rgba(255, 255, 255, 0.1);
  --lingui-card-border-color: rgba(239, 239, 239, 0.9);
}

[data-theme='dark']:root {
  --lingui-gray-bg: var(--ifm-navbar-background-color);
  --ifm-hero-background-color: var(--lingui-gray-bg);
  --lingui-card-bg: rgba(255, 255, 255, 0.05);
  --lingui-card-border-color: transparent;
  --ifm-link-color: var(--ifm-color-primary-lighter);
  --ifm-color-primary: var(--ifm-color-primary-lighter);
}

.d-block {
  display: block;
}

ol {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
}

ol > li {
  counter-increment: item;
  padding-left: var(--ifm-list-left-padding);
}

ol > li:before {
  margin-left: calc(-1 * var(--ifm-list-left-padding) - 11px);
  content: counter(item) '.';
  position: absolute;
  font-weight: var(--ifm-font-weight-bold);
  width: calc(var(--ifm-list-left-padding));
  text-align: right;
}

.navbar__title {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 200%;
}

.hero {
  padding-top: 0;
  padding-bottom: 0;
}

/* Line up the left edge of the logo with the left edge of the docs sidebar */
@media (min-width: 997px) {
  .navbar__logo {
    margin-left: calc(var(--ifm-menu-link-padding-horizontal) - 8px);
    height: 3rem;
  }
}

.menu > ul.menu__list > li.menu__list-item > .menu__list-item-collapsible > a {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 130%;

  margin-top: calc(3 * var(--ifm-menu-link-padding-vertical));
}

.menu__link > a,
.menu__list-item > a {
  padding-right: calc(0.5 * var(--ifm-menu-link-padding-horizontal));
}

.menu > ul.menu__list > li.menu__list-item > .menu__list-item-collapsible:hover,
.menu > ul.menu__list > li.menu__list-item > .menu__list-item-collapsible:active {
  background: none;
}

.menu > ul.menu__list > li.menu__list-item:first-of-type > .menu__list-item-collapsible > a {
  margin-top: 0;
}

.menu__list .menu__list {
  margin-left: 0;
  padding-left: 0;
}

.menu__list .menu__list .menu__list {
  margin-left: var(--ifm-menu-link-padding-horizontal);
}

.menu__list-item {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.DocSearch-Button,
input[type='search'] {
  font-family: var(--ifm-font-family-base);
}

.DocSearch-Button-Placeholder {
  margin-bottom: 2px;
}

.pagination-nav,
.pagination-nav__sublabel {
  display: none;
}

.footer__copyright {
  margin-top: 50px;
  color: var(--ifm-color-gray-500);
  font-size: 0.875rem;
}

.header-github-link:hover,
.header-discord-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-discord-link::before {
  content: '';
  width: 28px;
  height: 28px;
  display: flex;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 -28.5 256 256' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid'%3E%3Cpath d='M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z' fill='%235865F2' fill-rule='nonzero'%3E%3C/path%3E%3C/svg%3E");
}

html[data-theme='dark'] {
  .header-github-link:before {
    filter: invert(1);
  }

  .footer--dark {
    --ifm-footer-background-color: var(--ifm-navbar-background-color);
  }
}

.main-page-content {
  overflow: hidden;
  padding-top: 4rem;
}

[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'] {
  display: none;
}
