.LocaleSwitcher {
  padding: 0;
  list-style: none;
  text-align: center;
}

.LocaleSwitcher li {
  display: inline;
}

.Locale {
  cursor: pointer;

  border: none;
  background: transparent;
  color: #61dafb;

  font-size: 0.8em;
}
