{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "@lingui/babel-preset-react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "proposal-class-properties",
    "object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": ["modules-commonjs"]
    }
  }
}
