.container {
  min-height: 100vh;
  max-width: 960px;
  width: 100%;
  padding: 0 0.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}

.link {
  border: none;
  background: none;
  cursor: pointer;
  font-size: inherit;
}
