.users {
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 0;

  &Holder {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: var(--lingui-card-raduis);
    background: var(--lingui-gray-bg);

    @media screen and (max-width: 850px) {
      border-radius: var(--lingui-card-raduis-sm);
    }
  }
}

.usersList {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usersList > * {
  margin: 0 40px;

  @media screen and (max-width: 580px) {
    margin: 0;
    flex-basis: 50%;
  }
}

.logo {
  width: 64px;
  height: auto;
  border-radius: 8px;
  transition: 0.2s;
}

.user:hover {
  text-decoration: none;

  .logo {
    transform: scale(1.1);
  }
}
