.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.lang-container {
  display: flex;
}

.lang-container button {
  margin: 1rem;
  background: rgb(164, 13, 13);
  color: white;
  border-radius: 1rem;
  box-shadow: none;
  border: 0;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
