root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,mjs,ts,tsx,css,md}]
indent_style = space
indent_size = 2
max_line_length = 160

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{bat,cmd,ps1}]
end_of_line = crlf
