name: main-suite

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
      - next

jobs:
  test:
    timeout-minutes: 20
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ["22", "24"]
        os:
          - ubuntu-latest
#         - windows-latest


    steps:
      - uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: ${{ matrix.node }}
          cache: 'yarn'
          scope: '@lingui'

      - name: Install dependencies if needed
        run: yarn install --network-timeout 1000000

      - name: Build packages
        run: yarn release:build

      - name: Unit Testing
        run: yarn test:ci

  validate:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: test
    name: validate (node 22, ubuntu-latest)
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version-file: .nvmrc
          cache: 'yarn'
          scope: '@lingui'

      - name: Install dependencies if needed
        run: yarn install

      - name: Check Prettier Formatting
        run: yarn prettier:check

      - name: Build packages
        run: yarn release:build

      - name: Linting & Types
        run: yarn lint:all

      - name: Unit Testing
        run: yarn test:ci:coverage

      - name: Test Public Typings
        run: yarn test:types

      - name: E2E Testing
        run: yarn test:e2e

      - name: Check coverage
        uses: codecov/codecov-action@v4
        with:
          verbose: true
