name: main-suite

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
      - next

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ["16", "18", "19"]
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          always-auth: true
          node-version: ${{ matrix.node }}
          cache: 'yarn'
          scope: '@lingui'

      - name: Install dependencies if needed
        run: yarn install --network-timeout 1000000

      - name: Build packages
        run: yarn release:build

      - name: Unit Testing
        run: yarn test:ci

  validate:
    runs-on: ubuntu-latest
    needs: test
    name: validate (16, ubuntu-latest)
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          always-auth: true
          node-version: 16
          cache: 'yarn'
          scope: '@lingui'

      - name: Install dependencies if needed
        run: yarn install

      - name: Check Prettier Formatting
        run: yarn prettier:check

      - name: Linting & Types
        run: yarn lint:all

      - name: Build packages
        run: yarn release:build

      - name: Unit Testing
        run: yarn test:ci:coverage

      - name: Test Public Typings
        run: yarn test:tsd

      - name: Integration Testing
        run: yarn test:integration

      - name: E2E Testing
        run: yarn test:e2e

      - name: Check coverage
        uses: codecov/codecov-action@v3
        with:
          verbose: true
