name: next-sync

on:
  push:
    branches:
      - main

jobs:
  next-sync:
    runs-on: ubuntu-latest
    if: "! contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    name: Syncing branches
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: 14

      - name: Prepare Lingui-Bot git account
        uses: oleksiyrudenko/gha-git-credentials@v1
        with:
          name: 'Lingui Bot'
          email: 'linguibot@gmail.com'
          actor: 'lingui-bot'
          token: '${{ secrets.GH_BOT_PWD }}'
          
      - name: Opening pull request
        id: pull
        uses: tretuna/sync-branches@1.2.0
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          FROM_BRANCH: "main"
          TO_BRANCH: "next"
