name: release-workflow-test

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
      - next

jobs:
  release-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          always-auth: true
          node-version: 16
          cache: 'yarn'
          scope: '@lingui'

      - name: Install dependencies if needed
        run: yarn install

      - name: Publish with Verdaccio
        run: |
          git switch -c "pull-request"
          npm i -g {verdaccio,verdaccio-auth-memory,verdaccio-memory}
          mkdir -p $HOME/.config/verdaccio
          nohup verdaccio --config .github/verdaccio/config.yaml
          yarn verdaccio:release
          yarn verdaccio:integration
