name: release

on:
  workflow_dispatch:
    inputs:
      npmTag:
        type: choice
        description: 'NPM tag to release'
        options:
        - latest
        - next
        required: true
        default: "latest"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          always-auth: true
          node-version: 16
          cache: 'yarn'
          scope: '@lingui'

      - name: Install dependencies if needed
        run: yarn install --frozen-lockfile --pure-lockfile

      - name: Unit Testing
        run: yarn test

      - name: Linting & Types
        run: yarn lint:all

      - name: Build packages
        run: yarn release:build

      - name: Integration Testing
        run: yarn test:integration

      - name: Creates local .npmrc
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Prepare Lingui-Bot git account
        uses: oleksiyrudenko/gha-git-credentials@v2-latest
        with:
          name: 'Lingui Bot'
          email: 'linguibot@gmail.com'
          actor: 'lingui-bot'
          token: '${{ secrets.GITHUB_TOKEN }}'

      - name: Versioning packages
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: yarn version:${{github.event.inputs.npmTag}}

      - name: Packaging packages with newer version
        run: yarn release:build

      - name: Publishing packages
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: yarn release:${{github.event.inputs.npmTag}}
