name: Size Testing

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1

    steps:
      - uses: actions/checkout@v4

      - uses: andresz1/size-limit-action@v1.8.0
        with:
          build_script: release:build
          github_token: ${{ secrets.GITHUB_TOKEN }}
